@model List<clothing_store.ViewModels.ProductViewModel>
<head>
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}

<div class="sorting-container">
    <form method="get" asp-action="@currentAction" asp-controller="@currentController" class="sort-form">
        <label for="sortOrder">Sortuj według:</label>
        <select id="sortOrder" name="sortOrder" class="sort-dropdown" onchange="saveSortOrder(this.value)">
            <option value="default" selected>Domyślnie</option>
            <option value="priceAsc">Cena rosnąco</option>
            <option value="priceDesc">Cena malejąco</option>
            <option value="nameAsc">Nazwa A-Z</option>
            <option value="nameDesc">Nazwa Z-A</option>
            <option value="timesBoughtDesc">Najczęściej kupowane</option>
        </select>
    </form>
</div>


<div class="product-container">
    @if (!Model.Any())
    {
        <div class="alert alert-warning text-center">
            No products found matching your search query.
        </div>
    }
    else
    {
        @foreach (var product in Model)
        {
            var isSoldOut = product.Quantity <= 0;
            <div class="product-card">
                <!-- Product Image -->
                @if (isSoldOut)
                {
                    <div class="sold-out-badge">SOLD OUT</div>
                }
                else if (product.New)
                {
                    <div class="new-badge">NEW</div>
                }
                <div class="product-image-container">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="product-image-link">
                        <img src="~/Images/@(product.Name + "1.jpg")" alt="@product.Name" class="product-image">
                    </a>
                </div>

                <!-- Footer Section -->
                <div class="product-footer">
                    <div class="product-info">
                        <p class="product-name">@product.Name</p>
                        <p class="product-price">@product.ConvertedPrice @product.Currency.Code</p>
                    </div>
                    @if (!isSoldOut)
                    {
                        <form asp-controller="Account" asp-action="AddProductToCart" method="post" class="add-to-cart-form">
                            <input type="hidden" name="id" value="@product.ProductId" />
                            <button type="submit" class="add-to-cart-button">
                                <img src="~/Images/shopping-cart-icon.jpg" alt="Add to Cart" class="cart-icon">
                            </button>
                        </form>
                    }
                    <!-- Conditional Button (Visible only for Admin) -->
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Product" asp-action="EditDiscount" asp-route-id="@product.ProductId" class="btn btn-primary mt-2">
                            Edytuj rabat
                        </a>
                    }
                </div>
            </div>
        }
    }
    
</div>
<script>
    // Zapisuje wybraną wartość sortowania w ciasteczku
    function saveSortOrder(sortOrder) {
        document.cookie = `SortOrder=${sortOrder}; path=/; max-age=86400`; // 86400 sekund = 1 dzień
        document.querySelector('.sort-form').submit(); // Przesyła formularz
    }

    // Ustawia wybraną wartość sortowania na podstawie ciasteczka
    const sortOrder = document.cookie.split('; ').find(row => row.startsWith('SortOrder='))?.split('=')[1];
    if (sortOrder) {
        document.getElementById('sortOrder').value = sortOrder;
    }
</script>
