@model List<clothing_store.ViewModels.ProductViewModel>
<head>
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
</head>
<div class="product-container">
    @foreach (var product in Model)
    {
        <div class="product-card">
            <!-- Product Image -->

            <div class="product-image-container">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="product-image-link">
                    <img src="~/Images/@(product.Name + "1.jpg")" alt="@product.Name" class="product-image">
                </a>
            </div>

            <!-- Footer Section -->
            <div class="product-footer">
                <div class="product-info">
                    <p class="product-name">@product.Name</p>
                    <p class="product-price">@product.ConvertedPrice @product.Currency.Code</p>
                </div>
                <form asp-controller="Account" asp-action="AddProductToCart" method="post" class="add-to-cart-form">
                    <input type="hidden" name="id" value="@product.ProductId" />
                    <button type="submit" class="add-to-cart-button">
                        <img src="~/Images/shopping-cart-icon.jpg" alt="Add to Cart" class="cart-icon">
                    </button>
                </form>
            </div>
        </div>
    }
</div>

