@using clothing_store.ViewModels
@model AccountDetailsViewModel

@{
    ViewData["Title"] = "Preferences";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-md-3">
            <div class="settings-section bg-white text-black">
                <div class="p-3">
                    <h4 class="text-center mb-4">Account</h4>
                    <ul class="list-unstyled text-start">

                        <li class="mb-3"><a asp-controller="Account" asp-action="Details" class="text-black d-block @((ViewContext.RouteData.Values["Action"].ToString() == "Details") ? "fw-bold" : "")">Details</a></li>
                        <li class="mb-3"><a asp-controller="Account" asp-action="Preferences" class="text-black d-block @((ViewContext.RouteData.Values["Action"].ToString() == "Preferences") ? "fw-bold" : "")">Preferences</a></li>
                        <li class="mb-3"><a asp-controller="Account" asp-action="Newsletter" class="text-black d-block @((ViewContext.RouteData.Values["Action"].ToString() == "Newsletter") ? "fw-bold" : "")">Newsletter</a></li>
                        <li class="mb-3"><a asp-controller="Account" asp-action="Orders" class="text-black d-block @((ViewContext.RouteData.Values["Action"].ToString() == "Orders") ? "fw-bold" : "")">Orders</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Preferences Content Section -->
        <div class="col-md-9">
            <h1 class="text-center text-black mb-4" style="font-weight: bold;">Preferences</h1>

            <div class="p-4 rounded" style="background-color: #000; color: #fff;">
                <h3 class="text-white" style="font-size: 1.25rem; font-weight: bold; margin-bottom: 1rem;">Preferences</h3>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Favorite Color</label>
                        <input type="text" class="form-control bg-dark text-white" value="@Model.Account.FavouriteColor" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Newsletter</label>
                        <input type="text" class="form-control bg-dark text-white" value="@(Model.Account.Newsletter ? "Subscribed" : "Not Subscribed")" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Corporate Client</label>
                        <input type="text" class="form-control bg-dark text-white" value="@(Model.Account.CorporateClient ? "Yes" : "No")" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
